@if (!User.Identity.IsAuthenticated)
{
    <li><a href="@Url.LogOn()">Log On</a></li> 
    <li><a href="@Url.Action(MVC.Users.Register())" class="register">Register</a></li>
}
else {
    <li><a href="@Url.Action(MVC.Users.Account())">@User.Identity.Name</a></li>
    <li><a href="@Url.LogOff()">Log Off</a></li>
}